page-login {
    ion-content {
        font-family: 'Segoe UI';
    }
    button{
        ion-button {
            font-weight: 100 !important;
        }
        
    }

    .centered-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
