page-category {
    
    ion-card{
        position: relative;
        text-align: center;
        border: 1px solid black;
    }

    .card-title{
        position: absolute;
        top: 35%;
        color: white;
        font-weight: 600;
        font-size: 1.7em;
        width: 100%;
        text-align: center;
        word-wrap: break-word;
    }
}
