page-category {
    
    ion-card{
        position: relative;
        text-align: center;
        border: 0px solid black;
        border-radius: 10px !important;
        width: 100% !important;
        height: 100px !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        margin: 0 !important;
    }

    ion-card::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: .5; 
      }

    .scroll-content {
        padding: 0 !important;
    }

    .card-title{
        position: absolute;
        top: 35%;
        color: white;
        font-weight: 100;
        font-size: 1.7em;
        width: 100%;
        text-align: center;
        word-wrap: break-word;
        font-family: 'segoe ui';
        z-index: 1000000;
    }
}
