
  <ion-grid>
    <ion-row>
      <ion-col col-4>
  <div item-start id="discount-item" [style.backgroundImage] = "'url('+discount.picture+')'">
    <!-- <img  [src]="discount.picture" [alt]="discount.name" id="discount-item__image"> -->
    <button ion-button icon-only clear id="favorite" (click) = "starClicked()">
      <ion-icon name="ios-star-outline" *ngIf = "!discountService.isInFavorites(discount)"></ion-icon>
      <ion-icon name="ios-star" *ngIf = "discountService.isInFavorites(discount)"></ion-icon>
    </button>
    <div id="discount-item__discount">
       -{{discount.discount}}%
    </div>
  </div>
</ion-col>


    <ion-col  (click)="openArticlePage(discount)">
      <!-- <img src="http://vu.esnlithuania.org/sites/vu.esnlithuania.org/files/partners/images/New%20Yorker%20logo.jpg" alt="shop-avatar"> -->
      <h2>
        <b>{{discount.name}}</b>
      </h2>
      <p>{{discount.info | length}}</p>
    </ion-col>
    <ion-col (click)="openArticlePage(discount)">
      <div class="shop-avatar">
        <img src="http://vu.esnlithuania.org/sites/vu.esnlithuania.org/files/partners/images/New%20Yorker%20logo.jpg" alt="shop-avatar">
      </div>
      <div id="item-prices">
        <div id="item-prices--old-price">{{discount.oldPrice}}kn</div>
        <div id="item-prices--new-price">{{discount.newPrice}}kn</div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
